<style>
  .services-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }

  .service-info{
    width: 100% !important;
  }

  .service-box{
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .service-logo {
    width: auto !important;
    height: auto;
  }

  @media(max-width: 1199px){
    .services-wrapper{
      justify-content: space-around;
    }
  }

</style>

<div class="servicios-wrapper">
  <div class="title-wrapper">
    <span class="title-section">SERVICIOS</span>
  </div>

  <div class="services-wrapper">
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-02.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Hospitalidad
        </div>

        <div class="service-description">
          A la recepción se tendrá un espacio especial para degustar al momento de su llegada un buen café o alguna bebida de cortesía mientras realiza su Check in.
        </div>
      </div>
    </div>
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-06.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Estacionamiento subterraneo
        </div>

        <div class="service-description">
          Contamos con un servicio de Valet Parking para su comodidad, dejando su auto en un lugar seguro y cerrado.
        </div>
      </div>
    </div>
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-03.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Check In - Digital
        </div>

        <div class="service-description">
          La innovación y la tecnología serán parte importante de tu estadia en nuestro hotel, para lo cual se cuenta con una aplicación con la que podrá hacer check in y poder abrir la puerta de su habitación por medio de esta, ya que contamos con una cerradura electrónica de nueva generación.
        </div>
      </div>
    </div>
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-07.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Seguridad en Habitación
        </div>

        <div class="service-description">
          Caja de seguridad para guardar sus pertenencias, laptop o artículos de valor
        </div>
      </div>
    </div>
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-08.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Televisión y conectividad
        </div>

        <div class="service-description">
          Smart TV 43" conectadas las 24 horas, ayudñandole a estar conectado a un sin fin de videos y entretenimiento. Conectores de usb para carga de dispositivos electrónicos o celulares.  Además de contar con Wi Fi para estar siempre conectado.
        </div>
      </div>
    </div>
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-04.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Accesibilidad
        </div>

        <div class="service-description">
          Nuestro hotel cuenta con habitaciones para personas con capacidades diferentes, además de contar con un ascensor en el lobby principal para acceso rápido y conectividad a áreas de servicio.
        </div>
      </div>
    </div>
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-05.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Room
        </div>

        <div class="service-description">
          Servicio a habitación de 7 a 24 hrs.
        </div>
      </div>
    </div>
    <div class="service-box">
      <div class="service-logo">
        <img src="./img/love_it_pictogramas-01.png" alt="" />
      </div>

      <div class="service-info">
        <div class="service-title">
          Lavandería
        </div>

        <div class="service-description">
          Contamos con servicio de lavandería y planchaduría para su comodidad.
        </div>
      </div>
    </div>
  </div>

</div>
